.tictactoeWrapper {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 5rem);
  grid-template-rows: repeat(var(--board-size), 5rem);
  margin-top: 1em;
  
  .cell {
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 4rem;
    }
  }
}