@import "src/utils/variables";

.informationWrapper {
  margin-top: 75px;
  padding: 50px 140px;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0fr 1fr 2fr; 
  gap: 0px 25px;
  align-items: flex-end;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 25px 25px;
    align-items: center;
  }

  .pictureArea {
    width: 170px;
    height: 170px;
    border: 1px solid $grey;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .candidateBio {
    h2 {
      font-weight: normal;
      font-size: 30px;
    }
  }

  .candidateDescription {
    text-align: right;
  }
}