@import "src/utils/variables";

@font-face {
  font-family: Glacial;
  src: url(../assets/fonts/glacialindifference-regular-webfont.ttf);
}

@font-face {
  font-family: Glacial;
  src: url(../assets/fonts/glacialindifference-bold-webfont.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Glacial;
  src: url(../assets/fonts/glacialindifference-italic-webfont.woff);
  font-style: italic;
}

body {
  margin: 0;
  font-family: Glacial;
  color: $black;

  p {
    margin: 0;
  }
}