/** Main Colors **/
$neo-blank: #f6f7f8;
$grey: #d8d8d8;
$black: #2c2e30;
$red: #B33F40;
$yellow: #f1c40f;
$green: #00dca4;

/** Button Colors **/
$primary-color: #37A8EE;
$secondary-button: #00DCA4;
