@import "src/utils/variables";

footer {
  background-color: $neo-blank;
  padding: 50px 140px;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 2fr 1fr 1fr; 
  gap: 0px 25px;
  align-items: center;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 25px 25px;
    align-items: center;
  }

  ul {
    list-style: none;
    padding: 0;
    font-size: 14px;

    & > li {
      margin: 5px 0px;
    }
  }

  .socials {
    li {
      display: inline;
      margin-left: 10px;
    }

    img {
      max-width: 25px;
    }
  }
}